body {
    font-family:Arial,Helvetica,Sans-serif;
    text-align: center;
    background-color: rgb(11, 129, 175);
}

hr{
    width:500px
}

title{
font-size: 36px;
font-weight: bold;
letter-spacing: 2px;

}

.tt{
    font-family: "Playwrite CU", cursive;
font-optical-sizing: auto;
font-weight: <weight>;
font-style: normal;
}

#board{
    width: 356px;
    height: 420px;
    margin: 0 auto;
    margin-top: 3px;
    display: flex;
    flex-wrap: wrap;
}

.tile{
    /*box*/
    border: 2px solid rgb(16, 45, 68);
    width: 60px;
    height: 60px;
    margin: 2.5px;

    /*text*/
    color: black;
    font-size: 36px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.correct{
    background-color: #65d822;
    color: white;
    border-color: white;
}

.present{
        background-color: #C9B458;
        color: white;
        border-color: white;
}

.absent{
        background-color: #787C7E;
        color: white;
        border-color: white;
}